// html.high-contrast-mode
//   --bg: $highContrastBg
//   --bg-secondary: $highContrastBgSecondary
//   --bg-code: $highContrastBgCode
//   --bg-search: $highContrastBgSearch
//   --bg-code-block: $highContrastBgCodeBlock
//   --color: $highContrastColor
//   --accent-color: $highContrastAccentColor
//   --text-color-link: $highContrastTextColorLink
//   --border-color: $highContrastBorderColor
//   --text-color-code: $highContrastTextColorCode
//   --outline-color: $highContrastOutlineColor
//   --bg-tip-danger: $highContrastBgTipDanger
//   --bg-tip-warning: $highContrastBgTipWarning

//   .custom-block.warning
//     color: #000