// $highContrastBg = #000
// $highContrastBgSecondary = lighten($highContrastBg, 8%)
// $highContrastColor = #fff
// $highContrastBgCode = #111
// $highContrastBgSearch = $highContrastBgSecondary
// $highContrastBgCodeBlock = $highContrastBgSecondary
// $highContrastAccentColor = #1bf4a5
// $highContrastTextColorLink = $highContrastAccentColor
// $highContrastBorderColor = $highContrastColor
// $highContrastTextColorCode = #f33bee
// $highContrastOutlineColor = $highContrastColor
// $highContrastBgTipDanger = #AD0000
// $highContrastBgTipWarning = #fdff00