// outline
[tabindex]:not([tabindex="-1"]), a, button, input, select, textarea
  outline: 2px solid transparent
  outline-offset: 6px
  transition: outline-offset .1s ease
  
:focus
  outline-color: var(--outline-color)
  outline-offset: 3px