$accentColor ?= #3ab982
$darkAccentColor ?= #3ab982
$sepiaAccentColor ?= #3ab982

$bg ?= #fff
$darkBg ?= #232b32
$sepiaBg ?= #f1e7d0

$bgSecondary ?= #f2f2f2
$darkBgSecondary ?= #1d242d
// $sepiaBgSecondary ?= 

$bgSearch ?= #f2f2f2
$darkBgSearch ?= #282f34
// $sepiaBgSearch ?= 

$bgCode ?= #f8f8f8
$darkBgCode ?= #1d242d
// $sepiaBgCode ?= 

$bgCodeBlock ?= #1e252b
$darkBgCodeBlock ?= #1e252b
// $sepiaBgCodeBlock ?= 

$bgTipWarning ?= #fff7d0
$darkBgTipWarning ?= #575638
// $sepiaBgTipWarning ?= 

$bgTipDanger ?= #ffe6e6
$darkBgTipDanger ?= #321b22
// $sepiaBgTipDanger ?= 

$textColor ?= #304455
$darkTextColor ?= #ddd8ca
$sepiaTextColor ?= #504231

$textColorCode ?= #9E2500
$darkTextColorCode ?= #ADCFF0
// $sepiaTextColorCode ?= 

$textColorAccentButton ?= $bg
$darkTextColorAccentButton ?= $darkBg
// $sepiaTextColorAccentButton ?= 

$textColorLink ?= #2E8465
$darkTextColorLink ?= #82D3AF
// $sepiaTextColorLink ?= 

$borderColor ?= #eaecef
$darkBorderColor ?= #565656
// $sepiaBorderColor ?= 