$contentMaxWidth ?= 768px
$MQMobile ?= 900px

$fontFamily ?= -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,"Helvetica Neue",Helvetica,noto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,sans-serif

$accentColor ?= #3ab982
$darkAccentColor ?= #3ab982
$sepiaAccentColor ?= #3ab982

$bg ?= #fff
$darkBg ?= #232b32
$sepiaBg ?= #f1e7d0

$bgSecondary ?= darken($bg, 2%)
$darkBgSecondary ?= darken($darkBg, 20%)
$sepiaBgSecondary ?= darken($sepiaBg, 6%)

$sidebarBg ?= #FBFCFC

$bgSearch ?= #f8f8f8
$darkBgSearch ?= #1c2228
$sepiaBgSearch ?= #ebdcbb

$bgCode ?= #eee
$darkBgCode ?= $darkBgSecondary
$sepiaBgCode ?= $sepiaBgSecondary

$bgCodeBlock ?= #1e252b
$darkBgCodeBlock ?= #1e252b
$sepiaBgCodeBlock ?= #1e252b

$bgTipWarning ?= #fff7d0
$darkBgTipWarning ?= #575638
$sepiaBgTipWarning ?= #eedbb3

$bgTipDanger ?= #ffe6e6
$darkBgTipDanger ?= #321b22
$sepiaBgTipDanger ?= #e7c7a9

$textColor ?= #2c3e50
$darkTextColor ?= #ddd8ca
$sepiaTextColor ?= #433422

$textColorCode ?= #9E2500
$darkTextColorCode ?= #ADCFF0
$sepiaTextColorCode ?= #964217

$textColorAccentButton ?= $darkBg
$darkTextColorAccentButton ?= $darkBg
$sepiaTextColorAccentButton ?= $darkBg

$textColorLink ?= #2E8465
$darkTextColorLink ?= #82D3AF
$sepiaTextColorLink ?= #9F4519

$borderColor ?= #eaecef
$darkBorderColor ?= #565656
$sepiaBorderColor ?= #e0c894

$outlineColor ?= $textColor
$darkOutlineColor ?= $darkTextColor
$sepiaOutlineColor ?= $sepiaTextColor
