@font-face
  font-family 'OpenDyslexic';
  src url('https://cdn.jsdelivr.net/gh/antijingoist/open-dyslexic@20160623-Stable/woff/OpenDyslexic-Regular.woff') format('woff');
  font-weight 400;
  font-style normal;
  font-display auto;

@font-face
  font-family 'OpenDyslexic';
  src url('https://cdn.jsdelivr.net/gh/antijingoist/open-dyslexic@20160623-Stable/woff/OpenDyslexic-Bold.woff') format('woff');
  font-weight 700;
  font-style normal;
  font-display auto;