.home
  .hero
    .description
      color: var(--color-light)

    .action-button
      background-color: var(--accent-color)
      color: var(--text-accent-color-button)

      &:hover
        background-color: var(--accent-color-darken)
    
  .features
    h2, p
      color: inherit

  .features, .footer
    color: var(--color)
    border-top-color var(--border-color)