.navbar .site-name
  color: var(--color)

.navbar .links
  background var(--bg)

.nav-links .repo-link:hover
  color var(--text-color-link)

a.nav-link
  &:hover, &.router-link-active
    color var(--text-color-link)
    border-color: var(--text-color-link) !important